.app-header {
    font-size: 35px;
    font-weight: bold;
    margin: 10px auto;
    text-align: center;
}

.btn-primary {
    margin: 10px;
}

.chart-container {
    border: 0;
    background-color: #e8e8e8;
    display: block;
    height: 300px;
}

.cities {
    background: white;
    border: 1px solid beige;
    margin: auto;
    min-width: 320px;
    padding: 0;
    width: 50%;
}

.cities-group {
    margin: 0;
    padding: 0;
}

.city-condition-icon {
    height: 50px;
    margin-right: 10px;
    width: 50px;
}
.city-condition-text {
    display: block;
    float: left;
    margin: 45px 10px;
}

.city-temp-container {
    background-color: #f9f9f9;
    border: 1px solid black;
    display: block;
    margin: 20px auto;
    min-width: 290px;
    text-align: center;
    width: 75%;
}

.city-name {
    background-color: #dadada;
    border-bottom: 1px solid #b7b7b7;
    font-size: 26px;
    font-weight: 800;
}

.city-temp {
    font-size: 38px;
}

.chart {
    font-size: 15px;
    /* width: 150px;
    height: 150px; */
}

.container {
    margin: 20px auto;
}

.form-inline {
    justify-content: center;
}

.input-form {
    margin: 10px auto;
}

.list-item {
    list-style: none;
    padding: 4px 10px;
    text-align: left;
}

.list-item:hover {
    background-color: #e6e5e5;
}

.x-axis path,
.y-axis path,
.x-axis line,
.y-axis line {
    fill: none;
    stroke-width: 1px;
    stroke: black;
    shape-rendering: crispEdges;
}