.app-header {
    font-size: 35px;
    font-weight: bold;
    margin: 10px auto;
    text-align: center;
}

.btn-primary {
    margin: 10px;
}

.cities {
    background: white;
    border: 1px solid beige;
    margin: auto;
    min-width: 320px;
    padding: 0;
    width: 50%;
}

.cities-group {
    margin: 0;
    padding: 0;
}

.city-temp-container {
    background-color: #f9f9f9;
    border: 1px solid black;
    display: block;
    margin: 20px auto;
    text-align: center;
    width: 75%;
}

.city-name {
    background-color: #dadada;
    border-bottom: 1px solid #b7b7b7;
    font-size: 26px;
    font-weight: 800;
}

.city-temp {
    font-size: 45px;
}

.container {
    margin: 20px auto;
}

.form-inline {
    justify-content: center;
}

.input-form {
    margin: 10px auto;
}

.list-item {
    list-style: none;
    padding: 4px 10px;
    text-align: left;
}

.list-item:hover {
    background-color: #e6e5e5;
}


